body {
    margin:0;
}

h3 {
    display: inline-block;
    margin: 1%;
    padding: 1%;
    text-align:center;
    background: #FCFCFC;
    border: 1px solid black;
}

h3:hover {
    background:white;
}

h3:active {
    background: grey;
}

a h3 { 
    text-decoration:none;
    color:black;
}

header {
    background:#FAFAFA;
    margin:auto;
    padding:auto;
}