body {
    margin:0;
}

h3 {
    width: 20%;
    display: inline-block;
    margin: 1%;
    padding: 1%;
    text-align:center;
    background: #1A1A1A;
}

h3:hover {
    background:grey;
}

h3:active {
    background: black;
}

h3 a { 
    text-decoration:none;
    color:white;
}

header {
    background:#0F0F0F;
    margin:auto;
    padding:auto;
}