<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Last Messages</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        {% include 'header.html' %}
        <main>
        {% if last_messages %}
                {% for message in last_messages %}
                    <div class="info-card" id="{{ message.node_id }}">
                        <h2>{{ message.node_id }}: {{message.button_pressed }}</h2>
                        <p>Temperature Sensed:
                            {{ message.temperature_sensed }},
                            {{ message.temperature_value }}
                        </p>
                        <p>
                            Vibration Sensed:
                            {{ message.vibration_sensed }},
                            {{ message.vibration_value }}
                        </p>
                        <p>
                            Time Sent:
                            {{ message.time }}
                        </p>
                    </div>
                {% endfor %}
        {% else %}
            <h3>No last messages found...</h3>
        {% endif %}
        
        </main>
        {% include 'footer.html' %}
    </body>
</html>