<html>
    <head>
        <title>View all locations</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        {% include 'header.html' %}
        {% if locations %}
            <table>
                <thead>
                    <th>Location ID</th>
                    <th>Location Name</th>
                    <th>Location Type</th>
                    <th>Remove Location</th>
                </thead>
            {% for location in locations %}
                <tr>
                    <td>{{ location.location_id }}</td>
                    <td>
                        <a href="http://{{ host_ip }}:5000/location/{{ location.location_id }}">
                            {{ location.location_name }}
                        </a>
                    </td>
                    <td>{{ location.location_type }}</td>
                    <td>
                        <a href="/remove_location/{{ location.location_id }}" style="color:red">
                            Remove Location
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </table>

        {% else %}
            <p>No locations...</p>
        {% endif %}

        <h1>Add location below</h1>

        {% if host_ip %}
        <form action="http://{{ host_ip }}:5000/location/" method="POST">
        {% else %}
        <form action="http://127.0.0.1:5000/location/" method="POST">
        {% endif %}
            <p>Location Name: 
                <input type="text" name="location_name" id="location_name">
            </p>

            <p>Location Type: 
                {% if location_types %}
                    <select name="location_type" id="location_type">
                        {% for type in location_types %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                        <input type="text" name="location_type" id="location_type">
                {% endif %}
            </p>

            <input type="submit">
        </form>
    </body>
</html>