<html>
    <head>
        <title>View all locations</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        {% include 'header.html' %}

        <main>
            <h1>Locations</h1>
            {% if locations %}

                {% for location in locations %}
                    <div class="info-card" id="{{ location.location_name }}{{ location.location_id }}">
                        <h2>{{ location.location_id }}: {{ location.location_name }}</h2>
                        <p><a href="/change_location/{{ location.location_id }}">Edit</a></p>
                        <p>Type: {{ location.location_type }}</p>
                        <p><a class="remove" href="/remove_location/{{ location.location_id }}">Remove</a></p>
                        <a href="/location/{{ location.location_id }}">Buoys</a></p>
                    </div>
                {% endfor %}
            {% else %}
                    <p>No locations in system</p>
            {% endif %}

            {% if location_types %}
                <h1>Add location below</h1>

                <form action="/location/" method="POST">
                    <p>Location Name: 
                        <input type="text" name="location_name" id="location_name">
                    </p>

                    <p>Location Type: 
                        <select name="location_type" id="location_type">
                            {% for type in location_types %}
                                <option value="{{ type }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </p>

                    <input type="submit">
                </form>
            {% endif %}

            {% if not locations %}
                {% if not location_types %}
                    <h2>No API connection detected</h2>
                {% endif %}
            {% endif %}
        </main>

        {% include 'footer.html' %}
    </body>
</html>