<html>
    <head>
        <title>View all nodes</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        {% include 'header.html' %}
        <main>

            <iframe
                width="80%"
                height="80%"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key={{ gmaps_api_key }}
                &q=Cork" allowfullscreen>
            </iframe>

            {% if nodes %}
                {% for node in nodes %}
                    <div class="info-card" id="{{ node.location_name }}{{ node.node_id }}">
                        <h2>{{ node.node_id }}: 
                            <a href="/node/{{ node.sigfox_id }}">{{ node.sigfox_id }}</a>    
                        </h2>
                        <p>Active:
                            <a href="/node_status/{{ node.sigfox_id }}">
                                {{ node.active }}
                            </a>
                        </p>
                        <p><a class="remove" href="/remove_node/{{ node.sigfox_id }}">Remove</a></p>
                    </div>
                {% endfor %}

            {% else %}
                <p>No nodes...</p>
            {% endif %}

            <h1>Add node below</h1>
            <form action="/node/" method="POST">
                <p>Sigfox ID: 
                    <input type="text" name="sigfox_id" id="sigfox_id">
                </p>
                
                {% if buoys %}
                    <p>Buoy:
                        <select name="buoy_id" id="buoy_id">
                            <option value="None">None</option>
                            {% for buoy in buoys %}
                                <option value="{{ buoy.buoy_id }}">{{ buoy.buoy_id }}: {{ buoy.location_name }}</option>
                            {% endfor %}
                        </select>
                    </p>
                {% endif %}

                <input type="submit">
            </form>
        </main>
    </body>
</html>