<html>
    <head>
        <title>View all nodes</title>
    </head>

    <body>
        {% if nodes %}
            <table>
            {% for node in nodes %}
                <tr>
                    <td>{{ node.id }}</td>
                    <td>{{ node.sigfox_id }}</td>
                    <td>{{ node.active }}</td>
                </tr>
            {% endfor %}
            </table>

        {% else %}
            <p>No nodes...</p>
        {% endif %}

        {% if buoys %}
            <table>
            {% for buoy in buoys %}
                <tr>
                    <td>{{ buoy.buoy_id }}</td>
                    <td>{{ buoy.location_name }}</td>
                    <td>{{ buoy.latitude }}</td>
                    <td>{{ buoy.longitude }}</td>
                </tr>
            {% endfor %}
            </table>

        {% else %}
            <p>No buoys...</p>
        {% endif %}

        <h1>Add node below</h1>
        <form action="http://{{ host_ip }}:5000/node/" method="POST">
            <input type="text" name="sigfox_id" id="sigfox_id">

            {% if buoys %}
            <select name="buoy_id" id="buoy_id">
                <option value="None">None</option>
                {% for buoy in buoys %}
                    <option value="{{ buoy.buoy_id }}">{{ buoy.buoy_id }}: {{ buoy.location_name }}</option>
                {% endfor %}
            </select>
            {% endif %}
            <input type="submit">
        </form>
    </body>
</html>